@use '@angular/material' as mat;
@include mat.core();
@import "../palettes/orange";
@import "../palettes/blue1";

$scout-orange: mat.define-palette($scout-orange1);
$scout-blue: mat.define-palette($scout-blue1);


$my-theme: mat.define-light-theme((
  color: (
    primary: $scout-blue,
    accent: $scout-orange
  ),
  typography: mat.define-typography-config(),
  density: 0,
));


@include mat.all-component-themes($my-theme);
